# use glob syntax
syntax: glob

.DS_Store
trained_result*
project_data*
*.pth
*.png
*.jpg
*.optrpt
*.pyc
*.hdf5
*.npy
*.exe
.vscode
*.o
std*
demo
*.gz
*.h5
cache
compile_private.sh
compile_cuda_private.sh
